.categories {
  margin: 15px;
  font-family: Montserrat;
  line-height: 33px;
  letter-spacing: -0.45px;
  max-width: 1130px;
  padding: 20px 10px;
  .titre-offrecate {
    color: var(--secondary, #ea5455);
  }
  .voirtout {
    color: var(--primary, #2d4059);
    animation-duration: 2s;
    animation-name: blinkingTitle;
    animation-iteration-count: infinite;
  }
}

.custom-box {
  border: 2px solid #2d4059;
  background-color: #2d4059;
  border-radius: 25px;
  width: 157.033px;
  height: 155.11px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.5s;

  .title-box {
    margin: 10px 0 0;
    font-size: 15px;
    color: var(--third, #e5e5e5);
  }
}

.custom-box:hover {
  transform: scale(1.1);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media screen and (min-width: 1024px) {
  .jaimisuneclassaunbrcestunedinguerie {
    display: none;
  }
  .categories {
    margin: 0 auto;
    .titre-offrecate {
      color: var(--secondary, #ea5455);
      margin-bottom: 50px;
    }
    .voirtout {
      color: var(--primary, #2d4059);
      margin-left: 15px;
    }
  }
  .voirtout {
    font-size: 15px;
  }

  .custom-box {
    width: 165px;
    height: 163px;
  }

  .flex-container {
    gap: 20px;
  }
}
@keyframes blinkingTitle{
  0% {
    opacity: 1;
  }
  50%{
    opacity: 0
  }
  100%{
    opacity: 1;
  }
}